.table-responsive.mb-3
  %table.table.table-hover.w-100.table-sm.table-striped
    %thead
      %tr
        %th Symbol/Name
        %th Price
        %th Chg
        %th= "%Chg"
        %th Vol
        %th Mkt Cap
        %th Ytd %

    %tbody
      - stocks.each do |stock|
        %tr
          %td= stock_information_link_with_company_name(stock.company)
          %td.font-weight-bold= stock.price
          %td.font-weight-bold= stock.change
          %td.font-weight-bold= stock.change_percent
          %td= stock.volume
          %td= stock.market_cap
          %td= stock.formatted_ytd

    %tfoot
      %tr
        %td.text-right{colspan: "7"}= "Generated #{time_ago(DateTime.now)}".html_safe

:javascript
  $(".timeago").timeago();
  $("[data-tooltip='tooltip']").tooltip();