.container
  .row
    .col-md-6.col-sm-12
      .card
        .card-header.text-primary Large Cap
        .card-body
          = render_async market_movers_mover_path(key: StConstants::LARGE_CAP) do
            = render partial: "layouts/loading_card"

    .col-md-6.col-sm-12
      .card
        .card-header.text-info Top Active
        .card-body
          = render_async market_movers_mover_path(key: StConstants::ACTIVE) do
            = render partial: "layouts/loading_card"

    .col-md-6.col-sm-12
      .card
        .card-header.text-success Top Gainers
        .card-body
          = render_async market_movers_mover_path(key: StConstants::GAINERS) do
            = render partial: "layouts/loading_card"

    .col-md-6.col-sm-12
      .card
        .card-header.text-danger Top Losers
        .card-body
          = render_async market_movers_mover_path(key: StConstants::LOSERS) do
            = render partial: "layouts/loading_card"
