%table.table.table-bordered.table-sm.text-center
  %tbody
    %tr
      %td
        .text-muted Efficiency
        %h6= custom.efficiency
      %td
        .text-muted Growth
        %h6= custom.growth
      %td
        .text-muted Income
        %h6= custom.income
    %tr
      %td
        .text-muted Price Volatility
        %h6= custom.price_volatility
      %td
        .text-muted Solvency
        %h6= custom.solvency
      %td
        .text-muted Total Return
        %h6= custom.total_return
