= watch_list_delete_edit_buttons(watch_list.id)

.table-responsive.mb-3
  %table#watch-list-stocks-table.table.table-hover.w-100.table-sm.table-striped
    %thead
      %tr
        %th Symbol/Name
        %th Price
        %th Chg
        %th % Chg
        %th.no-sort Open
        %th.no-sort High
        %th.no-sort Low
        %th.no-sort Prev Close
        %th Volume
        %th.d-none Volume Actual Number
        %th Div Yield
        %th.d-none Div Yield Actual Number
        %th Mkt Cap
        %th.d-none Mkt Cap Actual Number
        %th Ytd %
        %th Sector
        %th.no-sort

    %tbody
      - stocks.each do |stock|
        %tr{id: "#{stock.symbol.gsub(".", "0")}-#{watch_list.id}"}
          %td= stock_information_link_with_company_name(stock.company)
          %td.font-weight-bold= stock.latest_price_info_amount
          %td.font-weight-bold= stock.latest_price_info_change
          %td.font-weight-bold= stock.latest_price_info_change_percent
          %td= stock.open
          %td= stock.high
          %td= stock.low
          %td= stock.previous_close
          %td= stock.volume
          %td.d-none= stock.volume
          %td= stock.dividend_yield
          %td.d-none= stock.dividend_yield
          %td= stock.market_cap
          %td.d-none= stock.market_cap
          %td= stock.formatted_ytd
          %td= stock.sector
          %td.text-center= symbol_delete_button(watch_list_id: watch_list.id, symbol: stock.symbol)

= render partial: "watch_lists/delete_modal", locals: { watch_list_id: watch_list.id }

:javascript
  $(document).ready(function () {
    WatchListStocksTable.init().render();
    WatchListActions.init();
    $('[data-toggle="tooltip"]').tooltip();
  });
