.table-responsive.mb-3
  %table#data-table.table.table-hover.w-100.table-sm.table-striped
    %thead
      %tr
        %th Symbol/Name
        %th Price
        %th Chg
        %th % Chg
        %th Open
        %th High
        %th Low
        %th Prev. Close
        %th Volume
        %th Div Yield
        %th.d-none Div Yield Actual Number
        %th Mkt Cap
        %th.d-none Mkt Cap Actual Number
        %th Ytd %
        %th Sector

    %tbody
      - stocks.each do |stock|
        %tr
          %td
            = link_to stock.symbol, stocks_information_path(symbol: stock.symbol),
                      target: "_blank", class: "font-weight-bold"
            %div= stock.security_name
          %td.font-weight-bold= stock.latest_price_info_amount
          %td.font-weight-bold= stock.latest_price_info_change
          %td.font-weight-bold= stock.latest_price_info_change_percent
          %td= stock.open
          %td= stock.high
          %td= stock.low
          %td= stock.previous_close
          %td= stock.formatted_volume
          %td= stock.formatted_dividend_yield
          %td.d-none= stock.dividend_yield
          %td= stock.formatted_market_cap
          %td.d-none= stock.market_cap
          %td= stock.formatted_ytd
          %td= stock.sector

= render partial: "watch_lists/delete_modal", locals: { watch_list_id: watch_list.id }

:javascript
    $(document).ready(function () {
    $("#data-table").DataTable({
      bInfo: true,
      // No Intial sort
      aaSorting: [],
      dom: "Bfrtip",
      buttons: {
      dom: {
            button: {
                tag: "button",
                className: "btn btn-sm mb-2"
            }
        },
        buttons: [
          {
            className: "btn-info",
            text: '#{fontawesome_icon(name_icon_with_style: "far fa-edit", text: "Edit")}',
            attr:  {
                id: "watch-list-edit-button",
                'data-form-path': '#{edit_watch_list_path(id: watch_list.id)}',
                'data-modal-title': '#{fontawesome_icon(name_icon_with_style: "far fa-edit", text: "Edit Watch List")}'
            }
          },
          {
            text: '#{fontawesome_icon(name_icon_with_style: "fas fa-trash", text: "Delete")}',
            className: "btn-danger ",
            attr:  { id: "watch-list-delete-button"}
          },
        ],
      },
      paging: false,
      scrollCollapse: true,
      scrollY: "100vh",
      scrollX: true,
      columnDefs: [
        {
          targets: [11],
          orderData: [12],
        },
        {
          targets: [9],
          orderData: [10],
        },
      ],
    });
    WatchListSave.init();
    });

