.container
  .mt-3
    .card
      .card-header
        %span Watch Lists
        .float-right
          %span
            = button_tag fontawesome_icon(name_icon_with_style: "fas fa-plus", text: "Add Watch List"),
                 class: "btn btn-sm btn-primary",
                 id: "watch-list-new-button",
                 data: { "form-path": new_watch_list_path,
                         "modal-title": fontawesome_icon(name_icon_with_style: "fas fa-plus",
                                                         text: "Add Watch List")},
                 type: "button"

      .card-body
        = render partial: "watch_lists/watch_lists", locals: { watch_lists: @watch_lists }

        .card
          .card-body
            #watch-list-information
              - if @watch_lists.selected_watch_list_id
                = render_async watch_list_path(id: @watch_lists.selected_watch_list_id) do
                  = render partial: "stocks/loading_card"
              - else
                No Watch Lists, please add.

            #loader.d-none
              = render partial: "stocks/loading_card"

= render partial: "watch_lists/modal"

:javascript
  $(document).ready(function() {
    WatchList.init();
  });
