.container
  .mt-3
    .card
      .card-header
        %span Watch Lists
        .float-right= add_watch_list_button

      .card-body
        = render partial: "watch_lists/watch_lists", locals: { watch_lists: @watch_lists }

        #watch-list-information
          = watch_list_information(@watch_lists.selected_watch_list_id)

        #loader.d-none
          = render partial: "stocks/loading_card"

= render partial: "watch_lists/modal"

:javascript
  $(document).ready(function() {
    WatchList.init();
    WatchListActions.init();
  });
