.section-title
  .title Chart
#container{style: "height: 350px; width: 100%"}

:javascript
  let data = JSON.parse('#{raw(time_series.sorted_data.to_json)}');
  Highcharts.stockChart('container', {
    navigator: {
      enabled: false
    },
    rangeSelector: {
    buttons: JSON.parse('#{raw(time_series.time_line_buttons.to_json)}'),
      enabled: true,
      inputEnabled: true
    },

    credits: {
      enabled: false
    },

    plotOptions:{
                series:{
                    turboThreshold: 0
                }
            },

    title: {
      text: '#{time_series.title(params[:symbol])}',
    },
    subtitle: {
      text: '#{time_series.subtitle}',
    },

    xAxis: {
            gapGridLineWidth: 0
        },

    series: [{
            name: '#{params[:symbol]}',
            type: 'area',
            data: data,
            gapSize: 5,
            tooltip: {
                valueDecimals: 2
            },
            fillColor: {
                linearGradient: {
                    x1: 0,
                    y1: 0,
                    x2: 0,
                    y2: 1
                },
                stops: [
                    [0, "#7cb5ec"],
                    [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                ]
            },
            threshold: null
        }]
    });