.card
  .card-header Company Executives
  .card-body
    %table#executives.table.table-sm.table-hover.table-striped.w-100
      %thead
        %tr
          %th Name
          %th Title
          %th Age
          %th Since
          %th Compensation
      %tbody
        - executives.sorted_by_name.each do |executive|
          %tr
            %td= executive.name
            %td= elements_in_single(executive.titles)
            %td= executive.age
            %td= executive.since
            %td= executive.compensation_with_currency

:javascript
  $(document).ready( function () {
    $('#executives').DataTable({
            paging: false,
            scrollX: true,
            scrollCollapse: true,
            scrollY: "40vh",
            });
  } );