.row
  .col-xl-6.col-lg-6.col-md-12.col-sm-12.col-xs-12
    .section-title
      .title Company Profile

    %table.table.table-sm.table-hover
      %thead
        %tr
          %th Employees
          %th Website
          %th Address
      %tbody
        %tr
          %td= company.employees
          %td= link_to company.website, company.website, target: '_blank'
          %td= company.address&.formatted
    .section-title
      .title Description
    .small= company.description

  .col-xl-6.col-lg-6.col-md-12.col-sm-12.col-xs-12
    = render_async stocks_company_executives_path(symbol: @stock.quote.symbol)

