.row
  .col-md-6
    .card
      .card-header Analysis
      .card-body
        %table.table.table-sm.table-hover
          %thead
            %tr
              %th Source
              %th Rating
              %th Analysts
              %th Rtg Wt
          %tbody
            - external_analysis.analyses.ordered_by_source_asc_with_no_ratings_last.each do |analysis|
              %tr
                %td= source_with_external_link(analysis)
                %td= analysis.formatted_original_rating
                %td= analysis.analysts_count
                %td= analysis.rating_rank
          %tfoot
            %tr.text-right
              %td{colspan: 4}= external_analysis.formatted_refreshed_at

  .col-md-6
    - external_analysis.analyses.custom_analyses_sorted_by_source_asc.each do |analysis|
      .card
        .card-header= analysis.formatted_source
        .card-body
          = render partial: "stocks/information_v2/external_analyses/#{analysis.source}",
                           locals: { custom: analysis.custom }

= render partial: "stocks/information_v2/price_targets", locals: { analyses: external_analysis.analyses }
