.row
  .col-lg-4.col-md-6
    .card
      .card-header Analysis
      .card-body
        %table.table.table-sm.table-hover
          %thead
            %tr
              %th Source
              %th Rating
              %th Analysts
          %tbody
            - external_analysis.analyses.ordered_by_source_asc_with_no_ratings_last.each do |analysis|
              %tr
                %td= source_with_external_link(analysis)
                %td= analysis.formatted_original_rating
                %td= analysis.analysts_count
          %tfoot
            %tr.text-right
              %td{colspan: "3"}= external_analysis.formatted_refreshed_at

  .col-lg-8.col-md-6
    = render partial: "stocks/information_v2/price_targets", locals: { analyses: external_analysis.analyses }

    .row.mt-3
      - external_analysis.analyses.custom_analyses_sorted_by_source_asc.each do |analysis|
        .col-lg-6.col-md-12
          .card
            .card-header= analysis.formatted_source
            .card-body
              = render partial: "stocks/information_v2/external_analyses/#{analysis.source}",
                               locals: { custom: analysis.custom }


