.card
  .card-header Price Targets
  .card-body
    .row
      .col-lg-7.col-md-12
        #price-target{style: 'height:300px; width:100%'}
      .col-lg-5.col-md-12
        %table#price-target-data.table.table-sm.table-hover
          %thead
            %tr
              %th Source
              %th Low
              %th Avg
              %th High
          %tbody
            - analyses.with_price_targets.each do |analysis|
              %tr
                %td= source_with_external_link(analysis)
                %td= analysis.price_target.low
                %td= analysis.price_target.average
                %td= analysis.price_target.high

:javascript
  Highcharts.chart("price-target", {
    title: {
      text: ""
    },
    yAxis: {
      title: {
        enabled: false
      }
    },
    lang: {
      noData: "No Data Available"
    },

    credits: {
      enabled: false
    },

    xAxis: {
      categories: JSON.parse('#{raw(ExternalAnalyses::PriceTargetPresenter::CHART_CATEGORIES.to_json)}')
    },

    series: JSON.parse('#{raw(analyses.price_targets_chart_data)}')
  });
