.card
  .card-header
    Quote
  .card-body.mb-2
    .price-information{class: quote.latest_price_info.price_color}
      %div.mb-2
        %span.small= quote.latest_price_info.last_updated
        .float-sm-right
          %span= quote.latest_price_info.source
      .row
        .col-lg.col-md-6.col-sm-12.col-xs-12
          .price= quote.latest_price_info.amount
        .col-lg.col-md-6.col-sm-6.col-xs-12
          %dt Change
          %dd
            %span= quote.latest_price_info.price_icon
            %span.mr-1= quote.latest_price_info.change
            %span= quote.latest_price_info.change_percent
        .col-lg.col-md-3.col-sm-6.col-xs-12
          %dt Day Range
          %dd= quote.day_range
        .col-lg.col-md-3.col-sm-4.col-xs-4
          %dt Volume
          %dd= quote.volume
        .col-lg.col-md-3.col-sm-4.col-xs-4
          %dt Open
          %dd= quote.open
        .col-lg.col-md-3.col-sm-4.col-xs-4
          %dt Prev Close
          %dd= quote.previous_close
    - if quote.show_extended_info?
      .price-information{class: quote.extended_price_info.price_color}
        %div.mb-2
          %span.small= quote.extended_price_info.last_updated
          .float-sm-right
            %span= quote.extended_price_info.source
        .row
          .col-lg.col-md-6.col-sm-6
            .price= quote.extended_price_info.amount
          .col-lg.col-md-6.col-sm-6
            %dt Change
            %dd
              %span= quote.extended_price_info.price_icon
              %span.mr-1= quote.extended_price_info.change
              %span= quote.extended_price_info.change_percent
          .col-lg.col-md-12
          .col-lg.col-md-12
          .col-lg.col-md-12
          .col-lg.col-md-12
