%span#price.font-weight-bold.mr-1= quote.price
%span
  %span= quote.price_icon
  %span.mr-1= quote.change_and_change_percent
.mt-n2.small
  .small
    %span.badge.badge-pill.badge-info= quote.source
    = quote.updated_at
