.container.mt-5
  .row
    .col-lg-9
      .row
        .col-md-6.col-sm-12
          .card
            .card-header.text-primary Large Cap
            .card-body
              = render_async stocks_market_movers_path(key: StConstants::LARGE_CAP) do
                = render partial: "layouts/loading_card"

        .col-md-6.col-sm-12
          .card
            .card-header.text-info Most Active
            .card-body
              = render_async stocks_market_movers_path(key: StConstants::ACTIVE) do
                = render partial: "layouts/loading_card"

        .col-md-6.col-sm-12
          .card
            .card-header.text-success Top Gainers
            .card-body
              = render_async stocks_market_movers_path(key: StConstants::GAINERS) do
                = render partial: "layouts/loading_card"

        .col-md-6.col-sm-12
          .card
            .card-header.text-danger Top Losers
            .card-body
              = render_async stocks_market_movers_path(key: StConstants::LOSERS) do
                = render partial: "layouts/loading_card"

    .col-lg-3
      = render partial: "common/watch_list_tile/watch_list_tile"
