.stock-information
  .container-fluid
    .row
      .col-xl-7.col-lg-7.col-md-7.col-sm-12.col.xs-12
        .shadow.bg-white.rounded.p-3.mb-2
          = render partial: 'stocks/information_v2/quote_information', locals: {logo: @stock.company.logo_url, quote: @stock.quote}

        .shadow.bg-white.rounded.p-3.mb-2
          .row
            .col-lg-8.col-md-12.col-sm-12.col-xs-12
              = render_async stocks_chart_path(symbol: @stock.quote.symbol)

            .col-lg-4.col-md-12.col-sm-12.col-xs-12
              = render partial: 'stocks/information_v2/key_stats', locals: {quote: @stock.quote, stats: @stock.stats}
        .shadow.bg-white.rounded.p-3.mb-2
          = render_async stocks_news_path(symbol: @stock.quote.symbol)

        - if @stock.company.description.present?
          .shadow.bg-white.rounded.p-3.mb-2
            = render partial: 'stocks/information_v2/company', locals: { company: @stock.company }

      .col-xl-5.col-lg-5.col-md-5.col-sm-12.col.xs-12
        - unless @stock.company.etf?
          .row
            .col-xl.col-lg.col-md.col-sm.col-xs-12
              .shadow.bg-white.rounded.p-3.mb-2
                = render_async stocks_earnings_path(symbol: @stock.quote.symbol)
            .col-xl.col-lg.col-md.col-sm.col-xs-12
              .shadow.bg-white.rounded.p-3.mb-2
                = render_async stocks_recommendation_trends_path(symbol: @stock.quote.symbol)
        .row
          .col
            .shadow.bg-white.rounded.p-3.mb-2
              = render partial: 'stocks/information_v2/growth', locals: { stats: @stock.stats, symbol: @stock.quote.symbol }

          .col
            .d-none.shadow.bg-white.rounded.p-3.mb-2

