= content_for :title do
  = @stock.name
.container
  .row
    .col-lg-8.col-md-12
      .card
        .card-body
          .row
            .col-10= render partial: 'stocks/information_v2/basic_information', locals: { company: @stock.company }

            .col-2.justify-content-center.align-self-center
              .float-right= render partial: "watch_lists/add_to_watch_list", locals: { symbol: @stock.symbol }

          = render partial: 'stocks/information_v2/quote_information', locals: { quote: @stock.quote }

          = render_async stocks_time_series_path(symbol: @stock.symbol) do
            = render partial: "layouts/loading_card"

      = render partial: "stocks/information_v2/key_stats", locals: { stats: @stock.stats, quote: @stock.quote }

      = render partial: "stocks/information_v2/news", locals: { news: @stock.news }


      .row
        - unless @stock.company.etf?
          .col-md-6.col-sm-12
            = render partial: "stocks/information_v2/earnings", locals: { earnings: @stock.earnings }

          .col-md-6.col-sm-12
            = render partial: "stocks/information_v2/growth", locals: { growth: @stock.growth }

      - if @stock.external_analysis.data_available?
        = render partial: "stocks/information_v2/external_analyses",
                      locals: { external_analysis: @stock.external_analysis }

    .col-lg-4.col-md-12
      = render partial: "stocks/information_v2/company", locals: { company: @stock.company }
