.stock-information
  .container
    #stock-summary
      = render partial: "stocks/information_v2/basic_information", locals: { company: @company }

      .mt-3
        = render_async stocks_quote_path(symbol: @company.symbol) do
          = render partial: "layouts/loading_card", locals: { header: "Quote" }
        .row
          .col-lg-8.col-md-12.col-sm-12.col.xs-12
            = render_async stocks_time_series_path(symbol: @company.symbol) do
              = render partial: "layouts/loading_card", locals: { header: "Time Series" }

          .col-lg-4.col-md-12.col-sm-12.col-xs-12
            = render_async stocks_stats_path(symbol: @company.symbol) do
              = render partial: "layouts/loading_card", locals: { header: "Stats" }

        = render_async stocks_news_path(symbol: @company.symbol) do
          = render partial: "layouts/loading_card", locals: { header: "News" }

        .row
          - unless @company.etf?
            .col-lg-4.col-md-6.col-sm-12
              = render_async stocks_earnings_path(symbol: @company.symbol) do
                = render partial: "layouts/loading_card", locals: { header: "Earnings" }

            .col-lg-4.col-md-6.col-sm-12
              = render_async stocks_recommendation_trends_path(symbol: @company.symbol) do
                = render partial: "layouts/loading_card", locals: { header: "Recommendation Trends" }
          .col-lg-4.col-md-6.col-sm-12
            = render_async stocks_growth_path(symbol: @company.symbol) do
              = render partial: "layouts/loading_card", locals: { header: "Growth" }

        = render partial: 'stocks/information_v2/external_analyses', locals: { external_analysis: @company.external_analysis }

        = render partial: 'stocks/information_v2/company', locals: { company: @company }

        - if @company.company_executives.any?
          = render partial: 'stocks/information_v2/company_executive',
                   locals: { executives: @company.company_executives }
