%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .navbar-brand= link_to 'ST', root_path, class: "text-uppercase font-weight-bold text-white"
  %button.navbar-toggler{"data-target" => "#navbarCollapse", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse.justify-content-start
    .navbar-nav
      .nav-item.nav-link= link_to "Watch Lists", watch_lists_path
    .navbar-form.d-inline.w-50
      = render partial: "stocks/search"
    .navbar-nav.ml-auto
      - if signed_in?
        %li.btn.btn-outline-warning
          %span= current_user.email
        %li.ml-2.btn.btn-outline-warning= link_to 'Sign out', sign_out_path, method: :delete
      - else
        .nav-item.dropdown
          %a.nav-link.dropdown-toggle.mr-4{"data-toggle" => "dropdown", href: "#"} Login
          .dropdown-menu.action-form
            = render partial: "sessions/form"

        .nav-item.dropdown
          %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", href: "#"} Sign up
          .dropdown-menu.action-form
            = render partial: "users/form", locals: {user: @user || User.new}
